@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
    transition: all ease 0.7s;
}

a:hover{
    color: #F299B1;
}

ul{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 20px;
    color: white;
    border-radius: 0px 20px 20px 0px;
    background-color: #F299B1;
    margin: auto;
    display: grid;
    list-style: none;
    gap: 80px;
    position: absolute;
    width: 10%;
    height: 100vh;
    box-shadow: 4px 4px 4px #F299B1;
}


li{
    cursor: pointer;
    transition: ease 0.7s;
}

li:hover{
    color: black;
    transform: translateX(20px);
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    background-color: #F2C5BB;
}

header{
    color: black;
}

h1,p{
    padding: 10px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    height: 45vh;
}

@media screen and (max-width: 468px) {
    .container{
        display: grid;
    }
}

@media screen and (max-width: 268px) {
    .container{
        display: grid;
        width: 100px;
    }
}

@media screen and (max-height: 468px) {
    .container{
        display: grid;
        margin-top: 15vh;
    }
}

@media screen and (max-height: 268px) {
    .container{
        display: grid;
        margin-top: 8vh;
    }
}

input{
    box-shadow: 2px 2px 2px #D99F7E;
    text-align: center;
    font-size: 20px;
    width: 400px;
    height: 50px;
    transition: all ease 0.7s;
}

input:hover{
    background-color: #F2C335;
    transform: translateY(-10px)
}

#reset{
    box-shadow: 2px 2px 2px #D99F7E;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    width: 80px;
    height: 54px;
    transition: all ease 0.7s;
}

#reset:hover{
    background-color: #F2C335;
    transform: translateX(10px)
}

#btn{
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    border-radius: 0px 10px 10px 0px;
    width: 150px;
    height: 54px;
    transition: all ease 0.7s;
}

#btn:hover{
    background-color: #F2C335;
    transform: translateX(10px)
}

.rec{
    border-radius: 20px;
    margin-left: 10px;
    height: 10vh;
    display: block;
    position: absolute;
    text-align: center;
    transition: ease 0.7s;
    margin-top: 80px;
    color: black;
}

@media screen and (max-height: 468px) {
    .rec{
        margin-top: 10px;
        display: block;
        justify-content: right;
        position: relative;
    }
}


@media screen and (max-height: 268px) {
    .rec{
        display: block;
        justify-content: right;
        position: relative;
    }
}

@media screen and (max-width: 468px) {
    .rec{
        display: block;
        justify-content: right;
        position: relative;
    }
}


@media screen and (max-width: 268px) {
    .rec{
        display: block;
        justify-content: right;
        position: relative;
    }
}

img{
    max-height: 100px;
}

footer{
    color: black;
    background-color: #F2C5BB;
    text-align: center;
}

.final{
    padding: 20px;
}

@media screen and (max-height: 468px) { 
    .final{
        padding: 10px;
    }
}

@media screen and (max-height: 720px) {
    footer{ 
        padding: 0;
        margin-top: 50px;
        height: 22vh;
    }
}

@media screen and (max-height: 468px) {
    footer{ 
        padding: 0;
        height: 10vh;
    }
}